* {
  box-sizing: border-box;
}

body {
  background-color: #8e44ad;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
}

.counter-container {
  margin: 20px 30px;
}

.counter-container i {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-container .counter {
  text-align: center;
  font-size: 48px;
  margin: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
